name: Deploy to Hostinger
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Hostinger via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USER }}
          key: ${{ secrets.HOSTINGER_SSH_KEY }}
          port: 65002
          script: |
           # Start SSH agent and add the private key so git pull works
           eval "$(ssh-agent -s)" && ssh-add ~/.ssh/id_ed25519 || echo "No SSH key found"

           cd ~/domains/prakashjhaclasses.com/public_html
           git fetch --all
           git reset --hard origin/main
           git pull origin main
           php artisan optimize:clear
           composer install --no-dev --optimize-autoloader

